<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cultureMapper">

    <resultMap type="cultureFacility" id="cultureFacilityResultSet">
        <result column="SVDID" property="serviceId" />
        <result column="MINCLASSNM" property="minClassName" />
        <result column="SVCSTATNM" property="serviceState" />
        <result column="SVCNM" property="serviceName" />
        <result column="PLACENM" property="placeName" />
        <result column="X" property="x" />
        <result column="Y" property="y" />
        <result column="SVCOPNBGNDT" property="serviceOpenBeginDate" />
        <result column="SVCOPNENDDT" property="serviceOpenEndDate" />
        <result column="RCPTBGNDT" property="rcptBeginDate" />
        <result column="RCPTENDDT" property="rcptEndDate" />
        <result column="AREANM" property="areaName" />
        <result column="TELNO" property="tel" />
        <result column="IMGURL" property="imgUrl" />
        <result column="REVSTDDAY" property="revStdDay" />
    </resultMap>

    <delete id="deleteAll">
        TRUNCATE TABLE CULTURAL_FACILITY
    </delete>

    <insert id="insert" parameterType="cultureFacility">
        INSERT INTO CULTURAL_FACILITY
            (CULTURAL_FACILITY_ID, SVCID, MINCLASSNM, SVCSTATNM, SVCNM, PLACENM, X, Y, SVCOPNBGNDT, SVCOPNENDDT,
             RCPTBGNDT, RCPTENDDT, AREANM, TELNO, IMGURL, REVSTDDAY)
        VALUES
            (SEQ_CULTURAL.NEXTVAL, #{serviceId}, #{minClassName}, #{serviceState}, #{serviceName}, #{placeName}, #{x}, #{y},
                #{serviceOpenBeginDate}, #{serviceOpenEndDate}, #{rcptBeginDate},#{rcptEndDate}, #{areaName}, #{tel},
                #{imageURL}, #{revStdDay})
    </insert>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO CULTURAL_FACILITY
            (SVCID, MINCLASSNM, SVCSTATNM, SVCNM, PLACENM, X, Y, SVCOPNBGNDT, SVCOPNENDDT,
            RCPTBGNDT, RCPTENDDT, AREANM, TELNO, IMGURL, REVSTDDAY)
        SELECT culture.* FROM (
            <foreach collection="list" item="c" separator="UNION ALL ">
                <![CDATA[
				    SELECT
                        #{c.serviceId},
                        #{c.minClassName},
                        #{c.serviceState},
                        #{c.serviceName},
                        #{c.placeName},
                        #{c.x},
                        #{c.y},
                        #{c.serviceOpenBeginDate},
                        #{c.serviceOpenEndDate},
                        #{c.rcptBeginDate},
                        #{c.rcptEndDate},
                        #{c.areaName},
                        #{c.tel},
                        #{c.imageUrl},
                        #{c.revStdDay}
                    FROM dual
                ]]>
            </foreach>
        ) culture
    </insert>


    <select id="selectCultureList" resultMap="cultureFacilityResultSet">
        SELECT * FROM CULTURAL_FACILITY
    </select>







</mapper>