<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

    <insert id="PhysicalDB">
        INSERT INTO PHYSICAL_FACILITY
        VALUES (#{svcid},
                #{minClassNm},
                #{svcStatNm},
                #{svcNm},
                #{placeNm},
                #{x},
                #{y},
                #{rcptBgnDt},
                #{rcptEndDt},
                #{areaNm})

    </insert>

</mapper>